
<div class="scrolls">
<div class="up"><span>↑</span>
<div class="center"><span>mouse <br> scrolling</span></div>
</div>
<div class="down"><span>↓</span></div>
</div>
<div class="smooth">
<div class="header">
<ul>
<li><a href="#home">home</a></li>
<li><a href="#about">about</a></li>
<li><a href="#price">price</a></li>
<li><a href="#contact">contact</a></li>
</ul>
</div>
<section id="home">
<h2>Section home</h2>
</section>
<section id="about">
<h2>Section about</h2>
</section>
<section id="price">
<h2>Section price</h2>
</section>
<section id="contact">
<h2>Section contact</h2>
</section>
</div>
