<form [formGroup]>
  <div class="signup-container">
    <div class="left-container col-xl-6">
      <div class="set" style="position: relative; left: 10%; margin-top: 6px; width: 90%;">
        <h4>
          Imagen de portada
          <label for="file-input">
            <span>Portada</span>
          </label>
        </h4>
        <img id="imgSalida" width="50%" height="50%" style="width: 34%; height: 40%;" />
        <span class="col-xl-6">
          <input type="file" id="file-input" name="file-input" style="display: contents;" />
        </span>
      </div>
      <div class="set" style="position: relative; left: 6%;">
        <h1>
          Imagen de Fondo
          <label for="file-input1">
            <span>Banner</span>
          </label>
        </h1>
        <img id="imgSalida1" width="50%" height="50%" style="height: 30%; width: 53%;" />
        <span class="col-xl-6">
          <input type="file" id="file-input1" name="file-input1" style="display: contents;" />
        </span>
      </div>
    </div>
    <div class="right-container">
      <header>
        <h1>Ingrese los datos de la película</h1>
        <div class="set">
          <div class="peli-name">
            <label for="nombre">Nombre</label>
            <input id="nombre" placeholder="Nombre de la pelicula" type="text" />
          </div>
          <div class="peli-name">
            <label for="synopsis">Synopsis</label>
            <textarea id="synopsis" class="form-control" placeholder="Escriba la synopsis de la pelicula"
              type="text"></textarea>
          </div>
        </div>
        <div class="peli-fecha">
          <label for="date">Fecha de estreno</label>
          <input id="date" placeholder="MM/DD/YYYY" data-inputmask="'alias': 'date'" />
        </div>

        <div class="peli-disponible">
          <label for=" peli-disponible">Disponible</label>
          <div class="radio-container">
            <input checked="" id="peli-disponible-si" name="disponible" type="radio" value="0" />
            <label for="peli-disponible-si">Sí</label>
            <input id="peli-disponible-no" name="disponible" type="radio" value="0" />
            <label for="peli-disponible-no">No</label>
          </div>
        </div>

        <div class="pets-clasificacion">
          <label for="pet-weight-0-25">Clasificación Película</label>
          <div class="radio-container">
            <input checked="" id="pet-weight-0-25" name="pet-weight" type="checkbox" value="0-25" />
            <label for="pet-weight-0-25">0-25 lbs</label>
            <input id="pet-weight-25-50" name="pet-weight" type="checkbox" value="25-50" />
            <label for="pet-weight-25-50">25-50 lbs</label>
            <input id="pet-weight-50-100" name="pet-weight" type="checkbox" value="50-100" />
            <label for="pet-weight-50-100">50-100 lbs</label>
            <input id="pet-weight-100-plus" name="pet-weight" type="checkbox" value="100+" />
            <label for="pet-weight-100-plus">100+ lbs</label>
          </div>
        </div>
      </header>
      <footer>
        <div class="set">
          <button id="back">Back</button>
          <button id="next">Next</button>
        </div>
      </footer>
    </div>
  </div>
</form>
