<div class="col-xl-12">
  <div id="social-test">
    <ul class="social">
      <li><i class="fab fa-facebook" aria-hidden="true"></i></li>
      <li><i class="fab fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fab fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fab fa-vimeo" aria-hidden="true"></i></li>
      <li><i class="fab fa-behance" aria-hidden="true"></i></li>
      <li><i class="fab fa-dribbble" aria-hidden="true"></i></li>
      <li><i class="fab fa-github" aria-hidden="true"></i></li>
      <li><i class="fab fa-pied-piper" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
