<div class="row ">
  <div class="col-xl-12 col-sm-12 col-md-12 text-center" style="margin-top: 50px;">
    <p id="pelicula">
      <span>
        TOP Películas
      </span>
  </div>
  <div class="col-12 mb-4">
    <app-carousel></app-carousel>

  </div>

  <div class="col-xl-12 text-center">
    <p id="estreno">
      <span>
        Películas
      </span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xl-12 col-sm-12 col-md-12 " style="margin-bottom: 10rem;">
    <div class="movie_card" id="bright" *ngFor="let p of datos" [routerLink]="['/peliculas/', p.id]"
      routerLinkActive="active">
      <div class="info_section">
        <div class="movie_header">
          <img class="locandina" src="{{p.image}}" />
          <h1>{{p.name}}</h1>
          <h6>{{p.premiere_date}}</h6>
          <span class="minutes">{{p.duration}}</span>
          <p class="type" *ngFor="let g of p.gener_movies">{{g.name}}</p>
        </div>
        <div class="movie_desc">
          <p class="text">{{p.synopsis}} </p>
        </div>
        <div class="movie_social">

        </div>
      </div>
      <div class="blur_back" style="background-image:url({{p.banner}});"></div>
    </div>
  </div>


</div>
