<!--TOP RATED-->
<div class="homeslider">
  <main class="content">
    <section class="panel">
      <h2>Recomendadas</h2>
      <div class="recentslider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide col-3" *ngFor="let peli of datos">
              <div class="example-2 card col-12">
                <div class="wrapper" style="background-image: url({{peli.image}});">
                  <div class="header">
                    <div class="date">
                      <span class="day">{{peli.premiere_date}}</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#"><i class="fas fa-heart"></i></a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fas fa-comment"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <a href="#" class="button" [routerLink]="['/peliculas/', peli.id]" routerLinkActive="active">Leer
                        más</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nextdirection recent-next">
            <img src="assets/img/right-arrow.svg" />
          </div>
          <div class="leftdirection recent-prev">
            <img src="assets/img/left-arrow.svg" />
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
