<!--=============================================
					 main
		 =============================================-->
<!-- <main class="content"> -->
<!--   <section class="centered"> -->
<!--     <h3>Most Watched Movies</h3> -->
<!--     <div class="movies"> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/9.jpg" /> -->
<!--           <h2 class="movietitle">The Space Between Us</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/7.jpg" /> -->
<!--           <h2 class="movietitle">Transformers</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/8.jpg" /> -->
<!--           <h2 class="movietitle">XXX</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/6.jpg" /> -->
<!--           <h2 class="movietitle">Fifty Shades Darker</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/9.jpg" /> -->
<!--           <h2 class="movietitle">The Space Between Us</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/9.jpg" /> -->
<!--           <h2 class="movietitle">The Space Between Us</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/7.jpg" /> -->
<!--           <h2 class="movietitle">Transformers</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/8.jpg" /> -->
<!--           <h2 class="movietitle">XXX</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/6.jpg" /> -->
<!--           <h2 class="movietitle">Fifty Shades Darker</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="mov"> -->
<!--         <a href="single.html"> -->
<!--           <img src="assets/images/9.jpg" /> -->
<!--           <h2 class="movietitle">The Space Between Us</h2> -->
<!--         </a> -->
<!--       </div> -->
<!--       <div class="nextdirection recent-next"> -->
<!--         <img src="assets/img/right-arrow.svg" /> -->
<!--       </div> -->
<!--       <div class="leftdirection recent-prev"> -->
<!--         <img src="assets/img/left-arrow.svg" /> -->
<!--       </div> -->
<!--     </div> -->
<!--   </section> -->
<!-- </main> -->
<!--TOP RATED-->
<div class="homeslider">
  <main class="content">
    <section class="panel">
      <h2>Recently Added</h2>
      <div class="recentslider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <div class="example-2 card col-12">
                <div class="wrapper">
                  <div class="header">
                    <div class="date">
                      <span class="day">12</span>
                      <span class="month">Aug</span>
                      <span class="year">2016</span>
                    </div>
                    <ul class="menu-content">
                      <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-heart-o"><span>18</span></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-comment-o"><span>3</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="data">
                    <div class="content">
                      <span class="author">Jane Doe</span>
                      <h1 class="title">
                        <a href="#"
                          >Stranger Things: The sound of the Upside Down</a
                        >
                      </h1>
                      <p class="text">
                        The antsy bingers of Netflix will eagerly anticipate the
                        digital release of the Survive soundtrack, out today.
                      </p>
                      <a href="#" class="button">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide col-4">
              <a href="mostwatched.html"><img src="assets/img/others.png" /></a>
            </div>
          </div>
          <div class="nextdirection recent-next">
            <img src="assets/img/right-arrow.svg" />
          </div>
          <div class="leftdirection recent-prev">
            <img src="assets/img/left-arrow.svg" />
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
