<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
              [routerLink]="['/mantenimiento/peliculas/registrar']" routerLinkActive="router-link-active" role="tab"
              aria-controls="nav-home" aria-selected="true" [class.active]="router.url == '/'">Nueva Película</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile"
              aria-selected="false" [routerLink]="['/mantenimiento/peliculas/listado']"
              routerLinkActive="router-link-active">Películas Activas</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" role="tab" aria-controls="nav-contact"
              aria-selected="false">Películas Desactivadas</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-peliculas-create *ngIf="router.url == '/mantenimiento/peliculas'"></app-peliculas-create>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
