<form [formGroup]='formCreate' (ngSubmit)='submitFormCreate()' novalidate>
  <input type="text" placeholder="Nombre" formControlName='name' required>
  <small *ngIf="errorHandling('name', 'required')" class="text-danger">
    Nombre requerido
  </small>
  <input type="email" placeholder="Email" formControlName='email' required>
  <small *ngIf="errorHandling('email', 'required')" class="text-danger">
    Email es requerido
  </small>
  <input type="password" placeholder="Password" formControlName='password' required>
  <small *ngIf="errorHandling('password', 'required')" class="text-danger">
    Contraseña es requerida
  </small>

  <button [name]="loading" [disabled]="!formCreate.valid" type="submit">Registrarse</button>
</form>
<ng-container *ngIf="loading">
  <div class="a" style="--n: 5; margin-top: 25%;
    margin-left: 83px;">
    <div class="dot" style="--i: 0"></div>
    <div class="dot" style="--i: 1"></div>
    <div class="dot" style="--i: 2"></div>
    <div class="dot" style="--i: 3"></div>
    <div class="dot" style="--i: 4"></div>
  </div>
</ng-container>
