<nav style="background-color: #212529; display: block; z-index: 3;">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">C i n e C a r</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLinkActive="active" routerLink="/home">Inicio</a></li>
      <li>
        <a routerLinkActive="active" routerLink="/peliculas">Películas</a>
      </li>
      <li><a routerLinkActive="active" routerLink="/home">Cartelera</a></li>
      <li><a routerLinkActive="active" routerLink="/product">Productos</a></li>
      <li><a routerLinkActive="active" routerLink="/home">Acerca De</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLinkActive="active" routerLink="/home">Inicio</a></li>
  <li><a routerLinkActive=" ative" routerLink="/peliculas">Películas</a></li>
  <li><a routerLinkActive="active" routerLink="/home">Cartelera</a></li>
  <li><a routerLinkActive="active" routerLink="/product">Productos</a></li>
</ul>
