<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Videojuegos</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Inicio
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mantenimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"> Videojuegos</a>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home/acercade"
            routerLinkActive="active"
            >Acerca de</a
          >
        </li>
      </ul>
    </div>

    <div class="navbar-brand navbar-right">
      <span class="navbar-text">
        Usuario
      </span>
      <a class="btn btn-secondary btn-sm" href="#"
        ><i class="fas fa-user"></i> Login</a
      >

      <a class="btn btn-secondary btn-sm" href="#"
        ><i class="fas fa-sign-out-alt"></i> Logout</a
      >
    </div>
  </nav>
</header>
