<div class="row">
  <div class="col-xl-10 col-sm-12 col-md-12 text-center" style="margin-top: 50px;padding-left: 242px;">
    <p id="pelicula">
      <span>
        Cartelera
      </span>
  </div>

  <div class="col col-xl-10 text-center" style="padding-left: 242px;">
    <ul class="menu-bar">
      <li>Lunes</li>
      <li>Martes</li>
      <li>Miércoles</li>
      <li>Jueves</li>
      <li>Viernes</li>
      <li>Sábado</li>
    </ul>
  </div>
  <div class="col-xl-2" style="margin-top: 50px;align-self: end;text-align-last: center;">
    <p style="color: white; text-align-last: center;">Ubicaciones</p>
    <select class="dropdown" aria-placeholder="Seleccione una ubicación" (change)="filtrarUbicaciones($event)"
      placeholder="Seleccione una ubicación">
      <option [value]="0" aria-selected="true">Todas</option>
      <option *ngFor="let l of localizaciones" [value]="l.id">{{l.name}}
      </option>
    </select>
  </div>
  <div class="col-xl-auto col-sm-auto col-md-auto mb-4" style="margin-top: 50px;">
    <ul class="container-fluid">
      <li *ngFor="let peli of cartelera" class="booking-card col-xl-12"
        style="background-image: url({{peli.movie.image}});">
        <div class="book-container">
          <div class="content" *ngIf="currentUser">
            <button class="btn modal-open" [routerLink]="['/reservacion/', peli.id]" routerLinkActive="active">Reservar
            </button>
          </div>
        </div>
        <div class="informations-container">
          <h2 class="title">{{peli.movie.name}}</h2>
          <p class="sub-title">Hora</p>
          <p class="price">{{peli.hour}}</p>
          <div class="more-information">
            <div class="info-and-date-container">
              <div class="box info">
                <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                </svg>
                <p>Campos restantes</p>
                <p>{{peli.number_space}}</p>
              </div>
              <div class="box date">
                <svg class="icon" style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z" />
                </svg>
                <p>Estreno</p>
                <p>{{peli.current_date |date:"dd-MM-yyyy"}}</p>
              </div>
            </div>
            <p class="disclaimer">Localización: {{peli.location.name}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
