<form [formGroup]="formCreate" novalidate>
  <div class="social-sidebar-buttons social-facebook" data-toggle="modal" data-target="#myModal1">
    <i class="fas fa-shopping-cart" style="width: 100%; height: 100%; color: orange;"></i>
  </div>
  <div class="row container-fluid mt-4">
    <div class="col-xl-12 col-sm-12">
      <div class="col-xl-12 col-sm-12 mt-4 text-center">
        <p class="tiquete">
          <span>
            Reservación
          </span>
        </p>
      </div>
      <div class="row mt-4" *ngIf="cartelera">
        <div class="col-xl-5">
          <div class="wrapper">
            <div class="card">
              <img src="{{ cartelera.movie.banner }}" />
              <div class="descriptions">
                <h1>{{ cartelera.movie.name }}</h1>
                <p>{{ cartelera.movie.synopsis }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="col-xl-12">
            <h1 class="h1">
              Fecha: {{ cartelera.current_date | date: "dd-MM-yyyy" }}
            </h1>
          </div>
          <div class="col-xl-12">
            <h1 class="h1">Hora: {{ cartelera.hour }}</h1>
          </div>
          <div class="col-xl-12">
            <h1 class="h1">Duración: {{ cartelera.movie.duration }}</h1>
          </div>
          <div class="col-xl-12">
            <h1 class="h1">Campos disponibles: {{ cartelera.number_space }}</h1>
          </div>
          <div class="col-xl-12">
            <h1 class="h1">Localización: {{ cartelera.location.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-fluid">
    <div class="col-xl-12 text-center col-sm-12">
      <p class="tiquete">
        <span>
          Tiquetes
        </span>
      </p>
    </div>
  </div>
  <div class="row container-fluid mb-4">
    <div class="col-xl-12 mb-4">
      <div class="container" formArrayName="tickets" for="tickets">
        <ul class="ks-cboxtags">
          <li *ngFor="let t of tickets.controls; index as i">
            <input type="checkbox" required [formControlName]="i" inputmode="numeric" id="checkbox{{ i }}"
              [value]="ticketList[i]?.id" (change)="onCheckChange(ticketList[i]?.id,$event)" /><label
              for="checkbox{{ i }}">{{ ticketList[i]?.name }}</label>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="row container-fluid mb-4 mr-0 ml-0">
    <div class="col-xl-12 text-center col-sm-12">
      <p class="tiquete">
        <span>
          Productos
        </span>
      </p>
    </div>
    <div class="col-xl-12 mb-4">
      <div class="row">
        <div class="col-xl-3 mb-3" *ngFor="let p of productos">
          <div class="shop-card col-xl-12">
            <div class="title">
              {{ p.name }}
            </div>
            <div class="cta">
              <div class="price">₡{{ p.price }}</div>
              <button class="btn" (click)="obtenerProducto(p.id)" data-toggle="modal" data-target="#myModal">
                Añadir<span class="bg"></span>
              </button>
            </div>
          </div>
          <div class="bg"></div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Product-->
  <form [formGroup]="formCreate" class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="padding-bottom: 18px;">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" style="padding-bottom: 10px; padding-top: 0px;">
            ×
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngIf="product">
          <div class="center-wrapper">
            <div class="content">
              <div class="bag">
                <p class="bag-head">
                  <span style="text-transform: uppercase;">{{
                    product.name
                  }}</span>
                  - item
                </p>
              </div>
              <div class="bag-product" style="color: black;">
                <div class="image">
                  <img src="{{ product.image }}" class="product-image" />
                </div>
                <div class="description">
                  <p style="margin-bottom: 0.5rem;">Clasificación</p>
                  <select formControlName="clasificacion" (change)="calcularClasificacion($event)" class="form-control"
                    style="width: 140px;">
                    <option value="0">Seleccionar</option>
                    <option *ngFor="let t of product.classification_products;let index =index" [value]="t.price">
                      {{ t.name }}
                    </option>
                  </select>
                  <small *ngIf="errorHandling('clasificacion', 'required' )" class="text-danger">
                    El tamaño es necesario
                  </small>
                  <p style="margin-bottom: 0.5rem;">Precio unidad</p>
                  <h2>₡{{ precio }}</h2>
                  <div class="quantity-wrapper">
                    <div>
                      <label for="quantity" style="margin-right: 0.5rem;">Cantidad:</label>
                      <input type="number" min="1" disabled formControlName="cantidad" class="form-control form-group"
                        placeholder="cantidad" id="cantidad" onfocus="this.value=''" required />
                      <small *ngIf="errorHandling('cantidad', 'required' )" class="text-danger">
                        La cantidad es necesaria
                      </small>
                    </div>
                    <div class="container-fluid">
                      <div class="col-xl-12">
                        <button id="agregar" class="form-control btn-success" type="submit"
                          (click)="calcularProducto($event)">
                          Agregar
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="bag-total">
                <div class="subtotal">
                  <p class="small">Subtotal: </p>
                  <p class="small">₡{{ subTotal }}</p>
                </div>
                <div class="subtotal">
                  <p class="small">IVA: </p>
                  <p class="small">₡{{ iva   }}</p>
                </div>

                <div class="total">
                  <h3>Total: </h3>
                  <h3>₡{{ total }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--Modal Ticket-->

  <!-- The Modal Product -->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <div class="total">
            <h3>Tiquete: </h3>
            <h3 style="color:red"> ₡{{TotalTickets}}</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal">
            ×
          </button>
        </div>
        <!-- Modal body -->

        <div class="container">
          <div class="row">
            <div class="col-xl-12" style="padding-right: 0px;">
              <div class="rounded-0 border-0 shadow" style="font-size: small;">
                <div class="card-body">
                  <!--  Bootstrap table-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Producto</th>
                          <th scope="col">Cantidad</th>
                          <th scope="col">SubTotal</th>
                          <th scope="col">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let p of productosList;index as i">
                          <td>{{ p.id }}</td>
                          <td>{{ p.nombre }}</td>
                          <td>{{ p.cantidad }}</td>
                          <td>₡{{ p.subtotal }}</td>
                          <td><button class="btn btn-danger rounded-0" id="deleteRow" (click)="Table(i)"><i class="
                              fa fa-trash"></i>
                            </button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Add rows button-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="total col-xl-12 " style="position: relative; display: inline-flex; ">
            <h3>Total: ₡{{ total }}</h3>

          </div>
          <div class="row">
            <div class="col-xl-6">
              <button type="button" class="btn btn-success" (click)="submitForm()" data-dismiss="modal">
                Confirmar
              </button>
            </div>
            <div class="col-xl-6">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
